<nav>
{{> navbarmain}}
</nav>

<div class="options">
    <a href="/head/add-product">Add a new design</a>
    <a href="/head/series">Collections</a>
    <a href="/head/manage-rights">Manage users' rights</a>
</div>

<div id="my-designs">
    <table id="designs-table">
        <tr>
            <th>Most recent image</th>
            <th>Name</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        {{#each products}}
        <tr>
            <td>
                <a href="/staff/product/{{this._id}}">
                <img src="{{this.images.[0]}}" alt="image"
                </a>
            </td>
            <td>{{this.name}}</td>
            <td><a href="/head/edit-product/{{this._id}}">edit</a></td>
            <td><a href="/head/delete-product/{{this._id}}">delete</a></td>
        </tr>
        {{/each}}
    </table>
</div>