<div>
    <form method="post" action="/head/add-product" enctype="multipart/form-data">
        <label for="name">name of item</label>
        <input type="text" name='name'>
        <select name="designer">
            {{#each headDesigners}}
            <option value="{{this._id}}">{{this.firstName}} {{this.lastName}}</option>
            {{/each}}
        </select>
        <select name="editors"> <!-- 2 maximum to implement -->
            {{#each editors}}
            <option value="{{this._id}}">{{this.firstName}} {{this.lastName}}</option>
            {{/each}}
            {{#each editors}}
            <option value="{{this._id}}">{{this.firstName}} {{this.lastName}}</option>
            {{/each}}
        </select>
        <label for="category">category</label>
        <input type="text" name="category">
        <label for="color">color</label>
        <input type="text" name="color">
        <select name="material">
            <option value="coton">coton</option>
            <option value="silk">silk</option>
            <option value="leather">leather</option>
            <option value="wool">wool</option>
            <option value="other">other</option>
        </select>
        <select name="collection">
            {{#each collections}}
            <option value="{{this._id}}">{{this.season}} {{this.year}}</option>
            {{/each}}
        </select>
        <label for="status">status</label>
        <input type="text" name="status">
        <label for="internalNotes">internal notes</label>
        <input type="text" name="internalNotes">
        <label for="image">image</label>
        <input type="file" name="image">
        <button type="submit">add design to database</button>
    </form>
</div>