<div>
    <!-- <form method="post" action="/head/add-product" enctype="multipart/form-data"> -->
    <form method="post" action="/head/add-product">
        <label for="name">Name</label>
        <input type="text" name='name'>
        <label for="designer">Designer</label>
        <select name="designer">
            {{#each designers}}
            <option value="{{this._id}}">{{this.firstName}} {{this.lastName}}</option>
            {{/each}}
        </select>
        <label for="editors">Editors</label>
        <select name="editors">
            {{#each users}}
            {{#unless @first}}
            <option value="{{this._id}}">{{this.firstName}} {{this.lastName}}</option>
            {{/unless}}
            {{/each}}
            <option value="n/a">Not applicable</option>
        </select>
        <select name="editors">
            {{#each users}}
            {{#unless @first}}
            <option value="{{this._id}}">{{this.firstName}} {{this.lastName}}</option>
            {{/unless}}
            {{/each}}
            <option value="n/a">Not applicable</option>
        </select>
        <select name="editors">
            {{#each users}}
            {{#unless @first}}
            <option value="{{this._id}}">{{this.firstName}} {{this.lastName}}</option>
            {{/unless}}
            {{/each}}
            <option value="n/a">Not applicable</option>
        </select>
        <label for="category">Category</label>
        <select name="category" required>
            <option value="Top">Top</option>
            <option value="Pants">Pants</option>
            <option value="Dress">Dress</option>
            <option value="Skirt">Skirt</option>
            <option value="Shoes">Shoes</option>
            <option value="Other">Other</option>
        </select>
        <label for="color">Color</label>
        <input type="text" name="color" required>
        <select name="material" required>
            <option value="coton">Coton</option>
            <option value="silk">Silk</option>
            <option value="leather">Leather</option>
            <option value="wool">Wool</option>
            <option value="other">Other</option>
        </select>
        <label for="serie">Collection</label>
        <select name="serie" required>
            {{#each series}}
            <option value="{{this._id}}">{{this.season}} {{this.year}}</option>
            {{/each}}
        </select>
        <label for="status">Status</label>
        <input type="text" name="status" required>
        <label for="internalNotes">Internal notes</label>
        <input type="text" name="internalNotes" required>
        <label for="image">Add new image</label>
        <input type="file" name="image">
        <button type="submit">Add design to database</button>
    </form>
</div>



<!-- enctype="multipart/form-data" -->

   <!--
        <label for="image">Add new image</label>
        <input type="file" name="image">
        -->