<nav>
{{> navbarmain}}
<a href="/head">My page</a>
</nav>

<div id="users">
    <table id="users-table">
        <tr>
            <th>Full name</th>
            <th>Team</th>
            <th>Role</th>
            <th>Change team and/or role</th>
            <th>Delete</th>
        </tr>
        {{#each users}}
        {{#unless @first}}
        <tr>
            <td>{{this.firstName}} {{this.lastName}}</td>
            <td>{{this.team}}</td>
            <td>{{this.role}}</td>
            <td><a href="/head/manage-rights/{{this._id}}">edit</a></td>
            <td><a href="/head/manage-rights/delete/{{this._id}}">delete</a></td>
        </tr>
        {{/unless}}
        {{/each}}
    </table>
</div>