<h1>Product Information</h1>

<div id="product-info-container">
    <div>Images
        {{#each product.images}}
        <img src="{{this}}" alt="image">
        {{/each}}
    </div>
    <div>Desription
        <ul>
            <li id="product-name">Name: {{product.name}}</li>
            <li>Designer: {{product.designer.name}}</li>
            <li>Editors:
                <ul>
                    {{#each product.editors}}
                    <li>{{this.firstName}} {{this.lastName}}</li>
                    {{/each}}
                </ul>
            </li>
            <li>Category: {{product.category}}</li>
            <li>Color: {{product.color}}</li>
            <li>Material: {{product.material}}</li>
            <li>Collection: {{product.serie.season}} {{product.serie.year}}</li>
            <li>Status: {{product.status}}</li>
            <li>Internal notes: {{product.internalNotes}}</li>
            <li>id: <span id="product-id">{{product._id}}</span></li>
            {{#if isDesigner}}
            <li><a href="/head/edit-product/{{product._id}}">Edit product information</a></li>
            {{/if}}
        </ul>
    </div>
</div>

<h2>Comments</h2>
{{> flashmessages}}
<div>
    <input type="text" name='comment-input' placeholder="type..." id="comment-input">
    <button id='send-btn'>Send</button>
</div>
<div id="comments-container">
    {{#each comments}}
    <div>
        <div>{{this.content}}</div>
        <div>{{this.author.firstName}} {{this.author.lastName}} {{date this.date}}</div>
    </div>
    {{/each}}
</div>