<div class="main user-info">
        <h1>{{user.firstName}} {{user.lastName}}</h1>
        <ul>
            <li>Phone number: {{user.phoneNumber}}</li>
            <li>Email: {{user.companyEmail}}</li>
            <li>Role: {{user.role}}</li>
            <li>Team: {{user.team}}</li>
        </ul>
</div>